<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("User List","Index","AspNetUsers")</li>
        <li>@Html.ActionLink("Trainees", "Index", "Trainees")</li>
        <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
        <li>@Html.ActionLink("TrainingStaffs", "Index", "TrainingStaffs")</li>
        
    </ul>
</div>
