
<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Profile", "Profile", "TraineeAction")</li>
        <li>@Html.ActionLink("Course Assigned", "CourseAssigned", "TraineeAction")</li>

    </ul>
</div>

