<div class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Profile", "Profile", "TrainerAction")</li>
            <li>@Html.ActionLink("Topic Assigned", "TopicAssigned", "TrainerAction")</li>
      
        </ul>
    </div>





                

