@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15 DONG QUAN , HA NOI<br />
    Greenwich University<br />
    <abbr title="Phone">P:</abbr>
    035552555
</address>

<address>
    <strong>Admin:</strong> <a href="mailto:nghialtgch18682@gmail.com">nghialtgch18682@fpt.edu.vn</a><br />
    <strong>Support:</strong>   <a href="mailto:tr.ducluong2000@gmail.com ">tr.ducluong2000@gmail.com </a><br />
    <strong>Marketing:</strong> <a href="mailto:daipnghc18721@fpt.edu.vn">daipnghc18721@fpt.edu.vn</a>
</address>